.main-nav{
    margin-top: 50px;
    z-index: 998;
}
li{
    list-style: none;
  
}
a{
    text-decoration: none;
}
.main-nav span{
    font-size: 2rem;    
    color: tomato;
}
.tamaño{
    width: 100%;
    height: 250px;
    border-radius: 30px;
}
#mov{
    margin-top: 50px;
}
.card{
    border-radius: 30px;
}

.box-seach a{
    text-decoration: none;
    list-style: none;
    color: black;
    border-right: 1px solid #f2f2f2;
}
.box-seach a i{
    color: tomato;
}
.box-seach{
    box-shadow: 0px 1px 6px rgb(0 0 0 / 20%);
    padding-top: 10px;
    border-radius:30px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    z-index: 998;
}
.box-seach1{
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    box-shadow: 0px 1px 6px rgb(0 0 0 / 20%);
    border-radius:30px;
    height: 50px;
    background-color: #f2f2f2;
    text-align: center;
 
}
.box-seach1 a{
    font-size: 20px;
    color: black;
}

.city{
    font-weight: 600;
    font-size: 17px;
    margin-top: 20px;
    text-align: left;
}
.menu-desplegable{
    padding-top: 20px;
    background-color: #f2f2f2;
    position: absolute;
    z-index: 2000;
    transition:transform .3s ease;    
    transform: translate(0,-100%);
}
 li a{  
    margin-top: 5px;
    color: black;
    font-weight: 500;
    font-size: 20px;
    line-height: 1px;
}
.box-seach1 i{
    color: tomato;
}
.active{
    transform: translate(0,0);
 
}
.opacidad{
    opacity: 0;
}
.list{
    line-height: 15px;
    margin-top: 10px;
    background-color: #f2f2f2;
    padding-bottom: 10px;
}
.list i{
    margin-top: 10px;
}
#adults{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}
#kids{
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 600;
}
#num1{

    margin: 15px;
}
#num2{

    margin: 15px;
}
.exit{
    color: black;
    float: right;
}
.guest{
    font-weight: 600;
    font-size: 17px;
}
.filter{
    visibility: hidden;
    opacity: 0;
    order: 1;
    display: none;
}

.numGuest{
    font-size: 1.4rem;
    font-weight: 400;
    padding-left: 100px;
    margin-top: 0px;
    float: right;
    padding-bottom: 10px;
}
.locationH1{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0px;
    float: left;
    padding-bottom: 15px;
}
.title{
    padding-right: 200px;
}
.tags{
    padding: 0;
    font-size: 13px;
    font-weight: 100;
    color: #828282;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content:space-evenly;
    text-align: left;
}
.tags i{
    padding-top: 1px;
    color: tomato;
    font-size: 12px;
}
.tags h3{
    text-align: center;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2rem;
    margin: 0;
    padding: 0;
   text-align: justify;
}
.city-opc{
    padding-left: 230px;
}
.city-opc li{
    padding-top: 10px;
}
#cont-adult{
    padding:20px;
    margin-left: 15px;
 
}
#cont-kids{
    margin-left: 15px;
 
    padding:20px
}
.guest-opc i{
    color: tomato;
}

